<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class='validated-form' enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">&#x20B9</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload image(s)</label>
                    <input class="form-control" name="image" type="file" id="formFile" multiple>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success">Add Campground</button>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mt-2 mb-2">
                    <a href="/campgrounds" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>